@model Front.Models.UserModel

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <h3>User #@Model.Id</h3>
    <p><strong>Username:</strong> @Model.UserName</p>
    <p><strong>First name:</strong> @Model.FirstName</p>
    <p><strong>Last name:</strong> @Model.LastName</p>
    <p><strong>Bio:</strong> @Model.Biogram</p>
    <p><strong>Birth:</strong> @Model.DateOfBirth</p>
</div>